<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport"
	content="width=device-width, maximum-scale=1.0, initial-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>UCKeFu-全渠道客服系统</title>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico?t=1487250759056"/>
<link rel="stylesheet" href="/css/flexboxgrid.min.css">
<link rel="stylesheet" type="text/css" href="/css/darktooltip.css" />
<link rel="stylesheet" href="css/layui.css">
<link rel="stylesheet" href="/js/ztree/zTreeStyle/zTreeStyle.css">
<link rel="stylesheet" href="/js/select/css/select2.min.css"/>	
<link rel="stylesheet" href="/res/css.html">

<link rel="stylesheet" type="text/css" href="/js/kindeditor/themes/default/default.css">

<script src="/js/jquery-1.10.2.min.js"></script>

<script src="/js/jquery.form.js"></script>

<script src="/js/select/js/select2.min.js"></script>

<script src="/layui.js"></script>
<script src="/js/ukefu.js"></script>
<script src="/im/js/socket.io.js"></script>	
<script src="/js/UCKeFu_IM.v1.js"></script>	
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/theme-chrome.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/weixinAudio.js"></script>
<#if systemConfig?? && systemConfig.mapkey?? && systemConfig.mapkey!=''>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=${systemConfig.mapkey}"></script>
</#if>

<#if infoacq?? && infoacq == "true">
<script src="/js/UKeFu-InfoAcq.js"></script>
</#if>
<#if systemConfig?? && systemConfig.callcenter && systemConfig.callout>
<script src="/js/UKeFu-CallOut.js"></script>
</#if>

<script src="/js/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="/js/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="/js/kindeditor/lang/zh-CN.js"></script>

<#if models?? && models["callcenter"]?? && models["callcenter"] == true>
<script src="/js/UKeFu-SoftPhone.js"></script>
<script src="/js/sip-0.7.7.js"></script>
</#if>

<script type="text/javascript" src="/js/jquery.darktooltip.js"></script>

</head>

<body>
	${par1!"111"}

	<hr/>
	<hr/>
	<#list arr as item>
		${item}
	</#list>
	<hr/>
	${obj1.bb}
	<hr/>
	${par}
	<hr/>
</body>

</html>